<div class="list-group">
<!-- <app-recipe-form (recipeCreatedEvent)="onRecipeAdded($event)"></app-recipe-form>  -->
  <app-recipe
   *ngFor="let recipeElement of recipes"
   [recipe]="recipeElement"
   >

      <div class="d-flex w-100 justify-content-between">
        <h5 [ngClass]="{selected: recipeElement === selectedRecipe}" class="mb-1">{{ recipeElement?.name }}</h5>
        <small>{{ recipeElement?.time }} minutes</small>
      </div>
      <p class="mb-1">{{ recipeElement?.description }}</p>
      <!-- <img class="img-fluid" src="{{ recipeElement?.imagePath }}"> -->
      <button (click)="onRecipeDeleted(recipeElement?.name)">Delete</button>

  </app-recipe>
</div>