<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-5">
      <router-outlet></router-outlet>
<!-- <app-shopping-form *ngIf="currentlySelectedNavItem === 'shopping-form'"></app-shopping-form>
<app-recipe-list  *ngIf="currentlySelectedNavItem === 'recipe-list'"></app-recipe-list>
<app-recipe-form *ngIf="currentlySelectedNavItem === 'recipe-form'"></app-recipe-form>
<app-shopping-list *ngIf="currentlySelectedNavItem === 'shopping-list'"></app-shopping-list> -->
  </div>
</div>