<app-header (navOptionSelected)="setSelectedNavOption($event)"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-7 p-5">
<app-recipe-list (recipeWasSelected)="setSelectedRecipe($event)" *ngIf="currentlySelectedNavOption === 'recipe-list'"></app-recipe-list>
<app-shopping-list *ngIf="currentlySelectedNavOption === 'shopping-list'"></app-shopping-list>
  </div>
  <div class="col-5 p-5">
    <app-recipe-detail [currentlySelectedRecipe]="currentlySelectedRecipe"></app-recipe-detail>
  </div>
</div>